img{
    height: 50px;
    width: 130px;
    object-fit: contain;
}
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 2px 5px;
    box-shadow: 2px 5px 5px rgb(198, 187, 187);
}


.nav-menu{
    list-style: none;
    display: flex;
    align-items: baseline;
}
li{
    padding: 0 15px;
    white-space: nowrap;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
@media (max-width: 768px) {
    a {
        font-size: 14px; 
    }
}
.logout {
    border: none;
    background-color: #5e003f;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.logout:hover {
    background-color: #40002b;
    box-shadow: 0px 0px 4px 0px #40002b;
    transform: translateY(-5px);
    
}

